
img {
    width: 200px;
    border-radius: 50%;
    
}

.imagem {
    width: 50%;
    height: 50%;
    background-color: #000;
    
}

.foto {
    text-align: center;
    
}

.google {
    background-color: #ccc;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 15px;

    border-top: 3px solid red;
    border-right: 3px solid yellow;
    border-bottom: 3px solid green;
    border-left: 3px solid blue;

    margin: 10px;

}