@media (max-width:850px) {

    main .conteudo-geral .mesmo-tema {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:768px) {

    main .conteudo-geral .mesmo-tema {
        flex-direction: column;
    }
}