html {
    font-size: 65,5%;
    background-color: #e7e5e5;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}