* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #232323;
    color: #fff;
    text-align: center;
}


ul li {
    text-align: left;
    padding: 5px 4%;
}

.flex {
    margin: 5px;
    padding: 40px 4%;
    box-shadow: 1px 1px 5px black;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}